<!DOCTYPE HTML>
<!--
    Solid State by HTML5 UP
    html5up.net | @ajlkn
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
    <head>
        <title>Generic - Solid State by HTML5 UP</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--[if lte IE 8]><script src="about/js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="about/css/main.css" />
        <!--[if lte IE 9]><link rel="stylesheet" href="about/css/ie9.css" /><![endif]-->
        <!--[if lte IE 8]><link rel="stylesheet" href="about/css/ie8.css" /><![endif]-->
    </head>
    <body ng-app="generic">

        <!-- Page Wrapper -->
            <div id="page-wrapper">

                <!-- Header -->
                    <header id="header">
                        <h1><a href="/anout">Eddie Tribaldos | Refereces</a></h1>
                        <nav>
                            <a href="#menu">Menu</a>
                        </nav>
                    </header>

                <!-- Menu -->
                    <nav id="menu">
                        <div class="inner">
                            <div ng-include="'about/common/menu.ejs'"> </div>
                        </div>
                    </nav>

                <!-- Wrapper -->
                    <section id="wrapper">
                        <header>
                            <div class="inner">
                                <h2>References</h2>
                                <p>Phasellus non pulvinar erat. Fusce tincidunt nisl eget ipsum.</p>
                            </div>
                        </header>

                        <!-- Content -->
                            <div class="wrapper">
                                <div class="inner">

                                    <h3 class="major">Booz Allen Hamilton</h3>
                                    <h4>Lilian Dolgolenko</h4>
                                    <h5>Title</h5>
                                    <h5>Email</h5>

                                    <br>

                                    <h4>Cali Cristopher</h4>
                                    <h5>Title</h5>
                                    <h5>Email</h5>

                                    <h3 class="major">WayBlazer</h3>
                                    <h4>Brandon</h4>
                                    <h5>Title</h5>
                                    <h5>Email</h5>

                                    <br>

                                    <h4>Kyle</h4>
                                    <h5>Title</h5>
                                    <h5>Email</h5>

                                    <h3 class="major">Proffessors</h3>
                                    <h4>Alison Norman</h4>
                                    <h5>Title</h5>
                                    <h5>Email</h5>

                                    <br>

                                    <h4>Other</h4>
                                    <h5>Title</h5>
                                    <h5>Email</h5>

                                </div>
                            </div>

                    </section>

                <!-- Footer -->
                    <div ng-include="'about/common/footer.ejs'">
                    </div>

            </div>

        <!-- Scripts -->
            <script src="about/js/skel.min.js"></script>
            <script src="about/js/jquery.min.js"></script>
            <script src="about/js/jquery.scrollex.min.js"></script>
            <script src="about/js/util.js"></script>
            <!--[if lte IE 8]><script src="about/js/ie/respond.min.js"></script><![endif]-->
            <script src="about/js/main.js"></script>

            <script src='about/js/angular.js'></script>
            <script src="about/js/controllers/generic.controller.js"></script>

    </body>
</html>