<!DOCTYPE HTML>
<!--
	Solid State by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Elements - Solid State by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="about/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="about/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="about/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="about/css/ie8.css" /><![endif]-->


	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="index.html">Solid State</a></h1>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<div class="inner">
							<h2>Menu</h2>
							<ul class="links">
								<li><a href="index.html">Home</a></li>
								<li><a href="/">Game</a></li>
								<li><a href="/resume">Resume</a></li>
								<!-- <li><a href="#">Log In</a></li> -->
								<!-- <li><a href="#">Sign Up</a></li> -->
							</ul>
							<a href="#" class="close">Close</a>
						</div>
					</nav>

				<!-- Wrapper -->
					<section id="wrapper">
						<header>
							<div class="inner">
								<h2>Resume</h2>
								<p>Updated Aug 11 2016</p>
							</div>
						</header>

						<!-- Content -->
							<div class="wrapper">
								<div class="inner">

									<section>
										<h3 class="major">PDF</h3>
										<!-- <ul class="actions">
											<li><a href="#" class="button special">PDF</a></li>
											<li><a href="#" class="button">Text</a></li>
										</ul> -->
										<a href="about/assets/Eddie_Tribaldos_Resume.pdf">Click here to download</a>
										<br>
										<canvas id="the-canvas"/>
									</section>
								</div>
							</div>

					</section>

				<!-- Footer -->
					<section id="footer">
						<div class="inner">
							<h2 class="major">Get in touch</h2>
							<p>Feel free to reach out to me! I respond 60% of the time, every time! (I'll actually probably respond)</p>
							<!-- <form>
								<div class="field">
									<label for="name">Name</label>
									<input type="text" name="name" id="name" />
								</div>
								<div class="field">
									<label for="email">Email</label>
									<input type="email" name="email" id="email" />
								</div>
								<div class="field">
									<label for="message">Message</label>
									<textarea name="message" id="message" rows="4"></textarea>
								</div>
								<ul class="actions">
									<li><input type="submit" value="Send Message" /></li>
								</ul>
							</form> -->
							<ul class="contact">
<!-- 								<li class="fa-home">
									Untitled Inc<br />
									1234 Somewhere Road Suite #2894<br />
									Nashville, TN 00000-0000
								</li> -->
								<!-- <li class="fa-phone">(915) 487-1920</li> -->
								<li class="fa-envelope"><a href="mailto:eddie.tribaldos@utexas.edu?Subject=Virtual+introduction">eddie.tribaldos@utexas.edu</a></li>
								<!-- <li class="fa-twitter"><a href="http://twitter.com/EdDTPhi">twitter.com/EdDTPhi</a></li> -->
								<!-- <li class="fa-facebook"><a href="#">facebook.com/untitled-tld</a></li> -->
								<li class="fa-github"><a href="https://github.com/EdDT-Phi">github.com/EdDT-Phi</a></li>
							</ul>
							<ul class="copyright">
								<li>&copy; EdDT Inc. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
							</ul>
						</div>
					</section>

			</div>

		<!-- Scripts -->
			<script src="about/js/skel.min.js"></script>
			<script src="about/js/jquery.min.js"></script>
			<script src="about/js/jquery.scrollex.min.js"></script>
			<script src="about/js/util.js"></script>
			<!--[if lte IE 8]><script src="about/js/ie/respond.min.js"></script><![endif]-->
			<script src="about/js/main.js"></script>
			<script src="about/js/require.js"></script>
		  	<script src="about/js/controllers/resume.controller.js"></script>

	</body>
</html>