<!-- Footer -->
<section id="footer">
    <div class="inner">
        <h2 class="major">Get in touch</h2>
        <p>Feel free to reach out to me! I respond 60% of the time, every time! (I'll actually probably respond)</p>
        <!-- <form>
            <div class="field">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" />
            </div>
            <div class="field">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" />
            </div>
            <div class="field">
                <label for="message">Message</label>
                <textarea name="message" id="message" rows="4"></textarea>
            </div>
            <ul class="actions">
                <li><input type="submit" value="Send Message" /></li>
            </ul>
        </form> -->
        <ul class="contact">
<!--                                <li class="fa-home">
                Untitled Inc<br />
                1234 Somewhere Road Suite #2894<br />
                Nashville, TN 00000-0000
            </li> -->
            <!-- <li class="fa-phone">(915) 487-1920</li> -->
            <li class="fa-envelope"><a href="mailto:eddie.tribaldos@utexas.edu?Subject=Virtual+introduction">eddie.tribaldos@utexas.edu</a></li>
            <!-- <li class="fa-twitter"><a href="http://twitter.com/EdDTPhi">twitter.com/EdDTPhi</a></li> -->
            <!-- <li class="fa-facebook"><a href="#">facebook.com/untitled-tld</a></li> -->
            <li class="fa-github"><a href="https://github.com/EdDT-Phi">github.com/EdDT-Phi</a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; EdDT Inc. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </div>
</section>